.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}

body {
	width: 250px;

}

.preloader-wrapper.custom {
  width: 24px;
  height: 24px;
}

#main-container {
    font-size: 12px;
}

#auth_row {
    border: hidden;
}

#smartnotes-footer {
    padding: 0%;
}

.smartmotes-header {
    background-color: #232f3e;
    color: #FFFFFF;
    font-family: 'Architects Daughter', cursive;

}

#smartnotes-icon {
    width:25px;
}