.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}

body {
	width: 250px;
	height: 200px;
}

.preloader-wrapper.custom {
  width: 24px;
  height: 24px;
}

#main-container {
    font-size: 12px;
}

#smartnotes-icon {
    width:100%;
    height: 100%;
}